<a href="https://colab.research.google.com/github/ankur112358/Python_Task/blob/master/Weekend_activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1
i=c=0
a=[]
while True:
  if i%2==0: a.append(i/2)
  else: a.append(i/2.0)  
  c+=1
  if c==10:break
  if i%3==0: a.append(i+3j)
  else: a.append('Hello')
  c+=1
  i+=1
  if c==10: break
a

[0.0, 3j, 0.5, 'Hello', 1.0, 'Hello', 1.5, (3+3j), 2.0, 'Hello']

In [4]:
#2
a=a[::2]
a

[0.0, 0.5, 1.0, 1.5, 2.0]

In [6]:
#4 using a python 3 terminal so xrange commented
i1=[x for x in range(1000)]
# i2=[x for x in xrange(1000)]
# i1==i2

In [8]:
#5
# Tuple is a static data structure and once created it can not be modified
a,b=[1,2],(1,2)
a[1],a[0]=a[0],a[1]
# b[1],b[0]=b[0],b[1]
a,b

([2, 1], (1, 2))

In [11]:
#6
a=[x for x in range(1100) if x%3==0 and x%2==0]

In [12]:
#7
inp='Hello Word'

for i,x in enumerate(reversed(inp)):
  if x in {'a','e','i','o','u'}:
    print(i,x)

2 o
5 o
8 e

In [14]:
#8
inp='hello my name is Abcde'
s=[x.strip() for x in inp.split(' ') if len(x.strip())%2==0]
s

['my', 'name', 'is']

In [18]:
#9
y={1,2,3,4,5,6,7,8,9,-1}
x=[1,2,3,4,5,6,7,8,9,-1]
visited=set()
target=8
for i in x:
  if target-i in y and i not in visited:
    # visited.add(i)
    visited.add(target-i)
    print(i,target-i)

1 7
2 6
3 5
4 4
9 -1

In [26]:
#10
even,odd=[],[]
while True:
  inp=int(input('Enter a number in range 1 - 50\n'))
  print(len(odd),len(even))
  # if not inp or (inp>0 and inp<=50):
  #   continue
  if inp%2==0 and len(even)<5: even.append(inp)
  if inp%2!=0 and len(odd)<5: odd.append(inp)
  if len(even)==5 and len(odd)==5: break
print('Sum even list is ',sum(even), 'and the maximum element is', max(even))
print('Sum odd list is ',sum(odd), 'and the maximum element is', max(odd))
print('Totoal sum is ', sum(even)+sum(odd))

Enter a number in range 1 - 50
1
0 0
Enter a number in range 1 - 50
2
1 0
Enter a number in range 1 - 50
3
1 1
Enter a number in range 1 - 50
4
2 1
Enter a number in range 1 - 50
5
2 2
Enter a number in range 1 - 50
6
3 2
Enter a number in range 1 - 50
7
3 3
Enter a number in range 1 - 50
8
4 3
Enter a number in range 1 - 50
9
4 4
Enter a number in range 1 - 50
10
5 4
Sum even list is  30 and the maximum element is 10
Sum odd list is  25 and the maximum element is 9
Totoal sum is  55

In [27]:
#11
import collections
test='12abcbacbaba344ab' 
c=collections.Counter(test)
for x in c:
  if x.isalpha():
    print(x,c[x])

a 5
b 5
c 2

In [30]:
#12
a= (1,2,3,4,5,6,7,8,9,10)
out=[]
for x in a:
  if x%2==0:
    out.append(x)
out=tuple(out)